<?xml version="1.0"?>
<config>
	<modules>
    	<WTC_AlliedWallet>
			<version>0.1.0</version>
		</WTC_AlliedWallet>
    </modules>
     
	<global>
		<models>
			<alliedwallet>
  	        	<class>WTC_AlliedWallet_Model</class>
			</alliedwallet>
		</models>
		<blocks>
			<alliedwallet>
				<class>WTC_AlliedWallet_Block</class>
			</alliedwallet>
		</blocks>
		<resources>
			<wallet_setup>
				<setup>
					<module>WTC_AlliedWallet</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</wallet_setup>
			<wallet_write>
				<connection>
					<use>core_write</use>
				</connection>
			</wallet_write>
			<wallet_read>
				<connection>
					<use>core_read</use>
				</connection>
			</wallet_read>
		</resources>
	</global>

	<adminhtml>
		<events>
			<sales_order_creditmemo_refund>
				<observers>
					<creditmemo_refund>
						<type>singleton</type>
						<class>alliedwallet/observer</class>
						<method>sendCreditRefundEmail</method>
					</creditmemo_refund>
				</observers>
			</sales_order_creditmemo_refund>
		</events>
		 <events>
            <checkout_submit_all_after>
                <observers>
                    <capture_order>
                        <type>singleton</type>
						<class>alliedwallet/observer</class>
						<method>autocaptureOrder</method>
                    </capture_order>
                </observers>
            </checkout_submit_all_after>
        </events>
	</adminhtml>
	
	<frontend>
		<routers>
			<alliedwallet>
				<use>standard</use>
				<args>
					<module>WTC_AlliedWallet</module>
					<frontName>alliedwallet</frontName>
				</args>
			</alliedwallet>
		</routers>
		<events>
			<sales_order_payment_place_end>
				<observers>
					<capture_order>
						<type>singleton</type>
						<class>alliedwallet/observer</class>
						<method>captureOrder</method>
					</capture_order>
				</observers>
			</sales_order_payment_place_end>
		</events>
		<!--events>
			<sales_order_invoice_pay>
  				<observers>
					<send_invoice_email>
						<type>singleton</type>
						<class>alliedwallet/observer</class>
						<method>sendInvoiceEmail</method>
					</send_invoice_email>
				</observers>
			</sales_order_invoice_pay>
		</events-->
    </frontend>
 
	<default>
		<payment>
			<alliedwallet>
				<active>0</active>
				<model>alliedwallet/payment</model>
				<title>Credit Card (381808)</title>
				<payment_action>authorize</payment_action>
				<allowspecific>0</allowspecific>
			</alliedwallet>
		</payment>
	</default>
</config>
